<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Respiratio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CA7EE691CC86438009E35BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CA7EE7D1CC86439009E35BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CA7EE881CC86439009E35BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
